<div class="container-fluid" id="menu-component">
<div class="row">
  <div class="col-md-4" id="logo"> 
    ToDoList
  </div>
  <div class="col-md-8" id="menu-list">
    <ul class="nav nav-pills ">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/open-task-listing" routerLinkActive="Active">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/close-task" routerLinkActive="Active">Closed</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/new-task-create" routerLinkActive="Active">New</a>
      </li>
    </ul>
  </div>
</div>

</div> 
<router-outlet></router-outlet>