<div class="container mt-5">
    <div *ngIf="newtaskflag">
        <h4 class="alert alert-success" role="alert">New Task Created Successfully !</h4>
    </div>
<form action="" id="new-task-create" [formGroup]="taskForm" (ngSubmit)="onSubmit(enteredTaskname.value,enteredTaskdate.value, enteredRemark.value)">
    
    <div class="row">
        <div class="col-md-12 mb-3">
            <h4 id="new-to-do-head">Assign New Task</h4>
        </div>
    </div>
    <div class="form-group">
        <label for="task-name">Task Name</label>
        <input type="text" #enteredTaskname class="form-control" id="taskName" aria-describedby="taskHelp" 
        placeholder="Enter Task Name" formControlName="taskName" (click)="newTaskFlagSetter()" required>
        <div *ngIf="taskName?.invalid && (taskName?.dirty || taskName?.touched)" class="alert alert-danger">
            <div *ngIf="taskName?.errors?.required">
                Name is required
            </div>
            <div *ngIf="taskName?.errors?.minlength">
                Name must be at least 4 characters long.
            </div>
        </div>
        
    </div>
    <div class="form-group">
        <label for="initial-target-date">Initial Target Date</label>
        <input type="date" #enteredTaskdate class="form-control" id="initial-target-date" 
        placeholder="Enter Task Initial Target Date" formControlName="targetDate" required>
        <div *ngIf="targetDate?.invalid && (targetDate?.dirty || targetDate?.touched)" class="alert alert-danger">
            <div *ngIf="targetDate?.errors?.required">
               Target Date is required
            </div>
            
        </div>
    </div>
    <div class="form-group">
        <label for="Remark">Remarks</label>
        <input type="text" #enteredRemark class="form-control" id="Remark" 
        placeholder="Enter Remark" formControlName="taskRemark">
        <div *ngIf="taskRemark?.invalid && (taskRemark?.dirty || taskRemark?.touched)" class="alert alert-danger">
            <div *ngIf="taskRemark?.errors?.minlength">
               Remark should be atleast 10 characters long.
            </div>
            
        </div>
    </div>
    
      <button type="submit" class="btn btn-primary" [disabled]="!taskForm.valid" >Submit</button>

</form>


</div>